services:
  gateway:
    build: ./gateway
    container_name: api-gateway
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8000:8000
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - audit

  rbac:
    build: ./services/rbac_service
    container_name: rbac-service
    networks:
      - phi
    depends_on:
      - nats
    volumes:
      - ./services/rbac_service/database:/app/database

  auth:
    build: ./services/auth_service
    container_name: auth-service
    networks:
      - phi
    depends_on:
      - rbac
      - nats

  audit:
    build: ./services/audit_service
    container_name: audit-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/audit_service/database:/app/database

  patients:
    build: ./services/patients_service
    container_name: patients-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/patients_service/database:/app/database

  appointments:
    build: ./services/appointments_service
    container_name: appointments-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/appointments_service/database:/app/database

  ehr:
    build: ./services/ehr_service
    container_name: ehr-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/ehr_service/database:/app/database

  billing:
    build: ./services/integration_service
    container_name: integration-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/integration_service/database:/app/database

  notification:
    build: ./services/notification_service
    container_name: notification-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/notification_service/database:/app/database

  reporting:
    build: ./services/reporting_service
    container_name: reporting-service
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/reporting_service/database:/app/database

  nats:
    image: nats:2.12.2-alpine
    container_name: nats
    command:
      - --jetstream
      - --store-dir=/data
      - --max_memory_store=1G
      - --max_file_store=10G
    volumes:
      - nats_data:/data
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:8222/healthz" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 4222:4222
      - 6222:6222
      - 8222:8222
    networks:
      - phi

  redis:
    image: redis:8.4.0-alpine3.22
    container_name: redis
    command:
      - --loglevel warning
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 6379:6379
    networks:
      - phi

volumes:
  nats_data:


networks:
  phi:
    driver: bridge
