services:
  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    restart: always
    container_name: api-gateway
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8000/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8000:8000
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - audit

  rbac:
    build:
      context: .
      dockerfile: ./services/rbac_service/Dockerfile
    restart: always
    container_name: rbac-service
    environment:
      PHI__RBAC__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_rbac
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8080"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8080/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - phi
    depends_on:
      - nats
      - pgsql

  auth:
    build:
      context: .
      dockerfile: ./services/auth_service/Dockerfile
    restart: always
    container_name: auth-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8030/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8030:8030
    networks:
      - phi
    depends_on:
      - rbac
      - nats

  audit:
    build:
      context: .
      dockerfile: ./services/audit_service/Dockerfile
    restart: always
    container_name: audit-service
    environment:
      PHI__AUDIT__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_audit
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8020"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8020/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8020:8020
    networks:
      - phi
    depends_on:
      - nats
      - pgsql

  patients:
    build:
      context: .
      dockerfile: ./services/patient_service/Dockerfile
    restart: always
    container_name: patients-service
    environment:
      PHI__PATIENT__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_patient
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8100"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8100/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8100:8100
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  appointments:
    build:
      context: .
      dockerfile: ./services/appointments_service/Dockerfile
    restart: always
    container_name: appointments-service
    environment:
      PHI__APPOINTMENT__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_appointments
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8010"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8010/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8010:8010
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  ehr:
    build:
      context: .
      dockerfile: ./services/ehr_service/Dockerfile
    restart: always
    container_name: ehr-service
    environment:
      PHI__EHR__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_ehr
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8200"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8200/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8200:8200
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  billing:
    build:
      context: .
      dockerfile: ./services/integration_service/Dockerfile
    restart: always
    container_name: integration-service
    environment:
      PHI__BILLING__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_billing
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8300"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8300/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8300:8300
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  notification:
    build:
      context: .
      dockerfile: ./services/notification_service/Dockerfile
    restart: always
    container_name: notification-service
    environment:
      PHI__NOTIFICATION__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_notification
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8400"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8400/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8400:8400
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  reporting:
    build:
      context: .
      dockerfile: ./services/reporting_service/Dockerfile
    restart: always
    container_name: reporting-service
    environment:
      PHI__REPORTING__DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgsql:5432/phi_reporting
    command: >
      sh -c "uv run alembic upgrade head &&
             uv run faststream run src.main:app --host 0.0.0.0 --port 8500"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8500/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8500:8500
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
      - pgsql

  seeder:
    build:
      context: .
      dockerfile: ./seeder/Dockerfile
    container_name: data-seeder
    restart: no
    environment:
      - SEED_DATA=${SEED_DATA:-false}
    depends_on:
      rbac:
        condition: service_healthy
      patients:
        condition: service_healthy
      appointments:
        condition: service_healthy
      ehr:
        condition: service_healthy
      billing:
        condition: service_healthy
      reporting:
        condition: service_healthy
    networks:
      - phi

  nats:
    image: nats:2.12.2-alpine
    container_name: nats
    command:
      - --jetstream
      - --store-dir=/data
      - --max_memory_store=1G
      - --max_file_store=10G
    volumes:
      - nats_data:/data
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:8222/healthz" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 4222:4222
      - 6222:6222
      - 8222:8222
    networks:
      - phi

  redis:
    image: redis:8.4.0-alpine3.22
    container_name: redis
    command:
      - --loglevel warning
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 6379:6379
    networks:
      - phi

  pgsql:
    image: postgres:18.1-alpine3.22
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - pg_data:/var/lib/postgresql
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    ports:
      - 5432:5432
    networks:
      - phi

volumes:
  nats_data:
  pg_data:


networks:
  phi:
    driver: bridge
