services:
  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    container_name: api-gateway
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8000/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8000:8000
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - audit

  rbac:
    build:
      context: .
      dockerfile: ./services/rbac_service/Dockerfile
    container_name: rbac-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8080/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - phi
    depends_on:
      - nats
    volumes:
      - ./services/rbac_service/database:/app/services/rbac_service/database

  auth:
    build:
      context: .
      dockerfile: ./services/auth_service/Dockerfile
    container_name: auth-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8030/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8030:8030
    networks:
      - phi
    depends_on:
      - rbac
      - nats

  audit:
    build:
      context: .
      dockerfile: ./services/audit_service/Dockerfile
    container_name: audit-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8020/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8020:8020
    networks:
      - phi
    depends_on:
      - nats
    volumes:
      - ./services/audit_service/database:/app/services/audit_service/database

  patients:
    build:
      context: .
      dockerfile: ./services/patient_service/Dockerfile
    container_name: patients-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8100/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8100:8100
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/patient_service/database:/app/services/patient_service/database

  appointments:
    build:
      context: .
      dockerfile: ./services/appointments_service/Dockerfile
    container_name: appointments-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8010/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8010:8010
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/appointments_service/database:/app/services/appointments_service/database

  ehr:
    build:
      context: .
      dockerfile: ./services/ehr_service/Dockerfile
    container_name: ehr-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8200/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8200:8200
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/ehr_service/database:/app/services/ehr_service/database

  billing:
    build:
      context: .
      dockerfile: ./services/integration_service/Dockerfile
    container_name: integration-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8300/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8300:8300
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/integration_service/database:/app/services/integration_service/database

  notification:
    build:
      context: .
      dockerfile: ./services/notification_service/Dockerfile
    container_name: notification-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8400/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8400:8400
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/notification_service/database:/app/services/notification_service/database

  reporting:
    build:
      context: .
      dockerfile: ./services/reporting_service/Dockerfile
    container_name: reporting-service
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8500/healthz" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - 8500:8500
    networks:
      - phi
    depends_on:
      - rbac
      - auth
      - nats
    volumes:
      - ./services/reporting_service/database:/app/services/reporting_service/database

  nats:
    image: nats:2.12.2-alpine
    container_name: nats
    command:
      - --jetstream
      - --store-dir=/data
      - --max_memory_store=1G
      - --max_file_store=10G
    volumes:
      - nats_data:/data
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:8222/healthz" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 4222:4222
      - 6222:6222
      - 8222:8222
    networks:
      - phi

  redis:
    image: redis:8.4.0-alpine3.22
    container_name: redis
    command:
      - --loglevel warning
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - 6379:6379
    networks:
      - phi

volumes:
  nats_data:


networks:
  phi:
    driver: bridge
